src/main/resources/com/sun/xml/registry/common/tools/resources/jaxrconcepts.xsd

<?xml version="1.0"?>
<!--

    Copyright (c) 2007, 2019 Oracle and/or its affiliates. All rights reserved.

    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License v. 2.0, which is available at
    http://www.eclipse.org/legal/epl-2.0.

    This Source Code may also be made available under the following Secondary
    Licenses when the conditions for such availability set forth in the
    Eclipse Public License v. 2.0 are satisfied: GNU General Public License,
    version 2 with the GNU Classpath Exception, which is available at
    https://www.gnu.org/software/classpath/license.html.

    SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0

-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:element name="JAXRClassificationScheme"><xsd:complexType><xsd:sequence><xsd:element ref="JAXRConcept" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence><xsd:attribute name="name" type="xsd:string" use="required"/><xsd:attribute name="description" type="xsd:string"/><xsd:attribute name="id" type="xsd:string" use="required"/></xsd:complexType></xsd:element><xsd:element name="PredefinedConcepts"><xsd:complexType><xsd:sequence><xsd:element ref="JAXRClassificationScheme" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="JAXRConcept"><xsd:complexType><xsd:sequence><xsd:element ref="JAXRConcept" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence><xsd:attribute name="name" type="xsd:string" use="required"/><xsd:attribute name="parent" type="xsd:string" use="required"/><xsd:attribute name="code" type="xsd:string"/><xsd:attribute name="id" type="xsd:string" use="required"/></xsd:complexType></xsd:element><xsd:element name="Command"><xsd:complexType><xsd:sequence><xsd:element ref="JAXRClassificationScheme" minOccurs="0" maxOccurs="unbounded"/><xsd:element ref="JAXRConcept" minOccurs="0" maxOccurs="unbounded"/><xsd:element ref="namepattern" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence><xsd:attribute name="commandname" type="xsd:string" use="required"/><xsd:attribute name="path" type="xsd:string"/></xsd:complexType></xsd:element><xsd:element name="namepattern"><xsd:complexType mixed="true"/></xsd:element><xsd:element name="Result"><xsd:complexType><xsd:sequence><xsd:element ref="JAXRClassificationScheme" minOccurs="0" maxOccurs="unbounded"/><xsd:element ref="JAXRConcept" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence><xsd:attribute name="status" type="xsd:string" use="required"/><xsd:attribute name="error" type="xsd:string"/><xsd:attribute name="commandname" type="xsd:string" use="required"/></xsd:complexType></xsd:element></xsd:schema>
